<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.mbenben.movie">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/wuqiong2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">
        <activity android:name=".guide.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".guide.TestActivity"/>
        <activity android:name=".LoginActivity"

            />
        <activity android:name=".RegisterAndForgetPassword.ForgetPasswordActivity"/>
        <activity android:name=".RegisterAndForgetPassword.RegisterActivity"/>
    <activity android:name=".Movie.SendCriticActivity"
              android:windowSoftInputMode="adjustNothing"
        ></activity>
        <activity android:name=".fragment4_activity.Activity_toolbar_button"

            ></activity>
        <activity android:name=".fragment4_activity.Head_touxiang"></activity>
        <activity android:name=".fragment4_activity.Favourite"></activity>
        <activity android:name=".fragment4_activity.Code"></activity>
        <activity android:name=".Movie.Activity_movie"></activity>
        <activity android:name=".Activity.SearchDataActivity"/>
        <activity android:name=".Activity.ShowCompleteCriticActivity"/>
        <activity android:name=".Activity.ShowMovieInfoActivity"/>
        <activity android:name=".Activity.ShowRadomCompleteMovieActivity"/>
        <activity android:name=".Activity.SearchWeiPingResultActivity"/>
    </application>

</manifest>